body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Asomtavruli', sans-serif;
  background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%)
}

/* adding georgian "Asomtavruli" font */
@font-face {
  font-family: 'Asomtavruli';
  src: url('./bpg_extrasquare_mtavruli_2009.ttf') format('truetype');
}

.container{
  width: 100%;
  height: 600px;
}

/* header styles */
header{
  width: 100%;
  height: 65px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

header nav{
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-radius: 30px;
}

nav img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

nav a:hover{
  cursor: pointer;
}

/* body-container styles */

.body-container{
  width: 100%;
  height: 100%;
  font-family: 'Asomtavruli', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* about us styles in main page */

.aboutus-main-container{
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.aboutus-main-container > div {
  margin-left: 30px;
}

.about-us-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.little-games{
  cursor: default;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}